/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
    height: 100vh;
    width: 100vw;
    background-color: #cccccc;
    background-image: linear-gradient(#bdc3c7, #2c3e50);
}

.form-box {
    margin: auto;
    font-family: "Roboto", sans-serif;
}



.header {
    margin: auto;
    font-family: "Roboto",
    sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}
    
.fa-chevron-left:hover {
    color: whitesmoke;
}

.fa-chevron-left {
    display: flex;
    flex-direction: column;
    font-size: 40px;

}

.back-button {
     margin: auto;
     font-family: "Roboto",
     sans-serif;
     text-decoration: none;
     list-style-type: none;
     display: flex;
     flex-direction: column;
     font-size: 20px;

    
}

.patient-register{ 
    margin: auto;
}
.patient-list {
    margin: auto;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.patient-link:hover {
    color: white;
}

.patient-link {
    margin: auto;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.weed-maps-link:hover {
    color: green;
}

.weed-maps-link {
    color: black;
    font-size: 40px;
    text-decoration: none;
    padding-top: 50px;
    margin: auto;
    flex-shrink: 0;
    position: absolute;
    bottom: 1%;
    left: 40%;
}

.footer {
    margin: auto;
    font-family: "Roboto",
    sans-serif;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;

}


